.side-menu {
  background: #fff;
  height: 100%;
  width: 100%;
}

.header {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.item-container {
  padding: 10px;
  margin-bottom: 5px;
}

.item {
  display: flex;
  cursor: pointer;
  user-select: none;
  padding: 15px 10px;
  border-radius: 5px;
}

.item-icon {
  margin-left: 0.5rem;
  display: block;
  width: 20%;
}

.item-text {
  display: block;
}

.item-active {
  background: var(--color-primary);
  color: white;
}

.plan-card-container {
  margin-top: 3rem;
  padding: 10px;
}
